.popup__field-error {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.21;
  color: #FF0000;
  opacity: 1;
  transition: 0.3s;
  word-wrap: break-word;
  position: absolute;
  margin: 5px 36px;
}
